{% extends 'base.html' %}

{% block title %}Home - MatGraphAI virtual intelligence integrated device agility where materials are NFTs by accelarting materials devolopment by 9000% App{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Welcome to MatGraphAI</h1>
    <p>Choose an action:</p>
</div>
<div class="d-flex justify-content-around">
    <a class="btn btn-primary" href="/upload/" role="button">Upload Data</a>
    <a class="btn btn-primary" href="/download/" role="button">Download Data</a>
    <a class="btn btn-primary" href="/analyze/" role="button">Analyze Data</a>
</div>
{% endblock %}
